<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="baseUrl" value="http://twittr.me/"/>
    <add key="debugMode" value="false"/>
    <add key="log" value="true"/>
    <add key="TwitterConsumerKey" value="YOUR CONSUMER KEY"/>
    <add key="TwitterConsumerSecret" value="YOUR CONSUMER SECRET"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <rule name="AllRule" stopProcessing="true">
          <match url="^bootstrap(.+)"/>
          <action type="None" />
        </rule>
        <rule name="ImagesRule" stopProcessing="true">
          <match url="^image/(.+).jpg"/>
          <action type="Rewrite" url="/image.aspx?imgUrl={R:1}"/>
        </rule>
        <rule name="UrlRule" stopProcessing="true">
          <match url="^go/(.+)"/>
          <action type="Rewrite" url="/url.ashx?l={R:1}"/>
        </rule>
        <rule name="UsageRule">
          <match url="^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/(.+)$"/>
          <action type="Rewrite" url="/shtwixhandler.ashx?u={R:1}&amp;p={R:2}&amp;query={R:3}"/>
        </rule>
      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension=".json" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" varyByHeaders="Authorization" varyByQueryString="since_id, max_id"/>
      </profiles>
    </caching>
  </system.webServer>
</configuration>